<h1>Participants</h1>
<md-button class="md-accent md-raised" ng-click="showAlert($event)">
  Nouveau participant
</md-button>
<table class="responsive-table striped">
  <thead>
  <tr>
    <th data-field="name">Nom</th>
    <th data-field="firstName">Prénom</th>
    <th data-field="email">Email</th>
    <th data-field="share">Nombre de parts (par défaut)</th>
    <th data-field="edit>"></th>
    <th data-field="delete"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Emma</td>
    <td>Marco</td>
    <td>mazrco.polo@explo.com</td>
    <td>1</td>
    <td>
      <a href="#"><md-icon class="fa fa-pencil-square-o" ></md-icon></a>
      <a href="#"><md-icon class="fa fa-trash"></md-icon></a>
    </td>
  </tr>
  <tr>
    <td>Julie</td>
    <td>Vauboin</td>
    <td>julie.vauboin@google.com</td>
    <td>1</td>
    <td>
      <a href="#"><md-icon class="fa fa-pencil-square-o"></md-icon></a>
      <a href="#"><md-icon class="fa fa-trash"></md-icon></a>
    </td>
  </tr>
  <tr>
    <td>Cédric</td>
    <td>Wemmert</td>
    <td>wemmert@unistra.fr</td>
    <td>1</td>
    <td>
      <a href="#"><md-icon class="fa fa-pencil-square-o"></md-icon></a>
      <a href="#"><md-icon class="fa fa-trash"></md-icon></a>
    </td>
  </tr>
  </tbody>
</table>
