extends layout

block content
  h1= title
  p Bienvenue sur la plateforme de partage des biens : #{title}
  
  p Vous pouvez de ce pas crée un nouveau Kidis !
  a(href='http://#{linkTo}create') Crée un nouveau Kidis