<md-list>
  <md-item>
    <a ui-sref="sheet.home">
      <md-button class="side-list">
        <md-icon class="fa fa-home"></md-icon>
        Accueil
      </md-button>
    </a>
  </md-item>
  <md-item>
    <a ui-sref="sheet.participants">
      <md-button class="side-list">
        <md-icon class="fa fa-users"></md-icon>
        Participants
      </md-button>
    </a>
  </md-item>
  <md-item>
    <a ui-sref="sheet.transactions">
      <md-button class="side-list">
        <md-icon class="fa fa-exchange"></md-icon>
        Dépenses
      </md-button>
    </a>
  </md-item>
  <md-item>
    <a ui-sref="sheet.categories" uis>
      <md-button class="side-list">
        <md-icon class="fa fa-folder"></md-icon>
        Catégories
      </md-button>
    </a>
  </md-item>
  <md-item>
    <a ui-sref="sheet.bilan">
      <md-button class="side-list">
        <md-icon class="fa fa-pie-chart"></md-icon>
        Bilan
      </md-button>
    </a>
  </md-item>
</md-list>
