<md-list>
  <md-item>
    <a ui-sref="sheet.home">
      <md-button class="side-list">
        <i class="fa fa-home"></i>
        {{'SIDEBAR_HOME' | translate}}
      </md-button>
    </a>
  </md-item>
  <md-item ng-show="sheetExists">
    <a ui-sref="sheet.participants">
      <md-button class="side-list">
        <i class="fa fa-users"></i>
        {{'SIDEBAR_PARTICIPANTS' | translate}}
      </md-button>
    </a>
  </md-item>
  <md-item ng-show="sheetExists">
    <a ui-sref="sheet.transactions">
      <md-button class="side-list">
        <i class="fa fa-exchange"></i>
        {{'SIDEBAR_TRANSACTIONS' | translate}}
      </md-button>
    </a>
  </md-item>
  <md-item ng-show="sheetExists">
    <a ui-sref="sheet.categories" uis>
      <md-button class="side-list">
        <i class="fa fa-folder"></i>
        {{'SIDEBAR_CATEGORIES' | translate}}
      </md-button>
    </a>
  </md-item>
  <md-item ng-show="sheetExists">
    <a ui-sref="sheet.bilan">
      <md-button class="side-list">
        <i class="fa fa-pie-chart"></i>
        {{'SIDEBAR_BILAN' | translate}}
      </md-button>
    </a>
  </md-item>
</md-list>
