<md-list>
  <md-item class="side-list">
    <a href="#/participants">
    <md-button class="side-list">
      <md-icon class="fa fa-users"></md-icon>
      Participants
    </md-button>
      </a>
  </md-item>
  <md-item class="side-list">
    <a href="#/transactions">
      <md-button class="side-list">
        <md-icon class="fa fa-exchange"></md-icon>
        Transactions
      </md-button>
    </a>
  </md-item>
  <md-item class="side-list">
    <a href="#/">
    <md-button class="side-list">
      <md-icon class="fa fa-pie-chart"></md-icon>
      Bilan
    </md-button>
      </a>
  </md-item>
</md-list>
