<div layout="row">
  <div class="md-padding">
    <md-content class="md-padding">
      <h3>Dépense</h3>
      <div layout="row">
        <md-icon class="fa fa-user"></md-icon>
        <md-select ng-model="transaction.trs_contributor" placeholder="Qui ?" flex="1" class="select-add">
          <md-option ng-repeat="participant in participants.data" value="{{participant._id}}">{{participant.prt_lname}}</md-option>
        </md-select>
      </div>
      <div layout="row">
        <md-icon class="fa fa-info-circle"></md-icon>
        <md-input-container md-no-float>
          <label>Quoi ?</label>
          <input ng-model="transaction.trs_description" type="text">
        </md-input-container>
      </div>
      <div layout="row">
        <md-icon class="fa fa-money"></md-icon>
        <md-input-container>
          <label>Combien ?</label>
          <input type="number" ng-model="transaction.trs_amount">
        </md-input-container>
      </div>
    <div layout="row">
      <md-icon class="fa fa-user"></md-icon>
      <md-select ng-model="transaction.trs_category" placeholder="Catégorie ?" flex="1" class="select-add">
        <md-option ng-repeat="category in categories.data" value="{{category._id}}">{{category.ctg_name}}</md-option>
      </md-select>
    </div>
      </md-content>
  </div>
  <div>
    <md-content class="md-padding">
      <h3>Pour qui ?</h3>
      <md-card ng-repeat="participant in participants.data">
        <div layout="row">
          <md-switch ng-model="participant._id">
            {{participant.prt_lname}}
          </md-switch>
          <md-icon class="fa fa-pie-chart"></md-icon>
          <md-input-container>
            <label>Parts ?</label>
            <input type="number" ng-disabled=!participant._id ng-value="participant.prt_share">
          </md-input-container>
        </div>
      </md-card>
    </md-content>
  </div>

</div>
<div class="md-actions" layout="row">
  <md-button class="md-raised md-accent" ng-click="answer('valider')">Valider</md-button>
</div>
