<md-dialog aria-label="Nouveau participant">
  <md-subheader class="md-sticky-no-effect md-primary">Nouveau participant</md-subheader>
<div layout="column">
  <md-content class="md-padding">
      <div layout="row">
        <md-icon class="fa fa-user"></md-icon>
        <md-input-container md-no-float>
          <label>Nom</label>
          <input type="text">
        </md-input-container>
      </div>
      <div layout="row">
        <md-icon class="fa fa-user"></md-icon>
        <md-input-container>
          <label>Prénom</label>
          <input type="text">
        </md-input-container>
      </div>
    <div layout="row">
      <md-icon class="fa fa-envelope-o"></md-icon>
      <md-input-container>
        <label>Email</label>
        <input type="email">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-pie-chart"></md-icon>
      <md-input-container>
        <label>Nombre de parts (par défaut)</label>
        <input type="number">
      </md-input-container>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button class="md-raised md-accent" ng-click="answer('valider')">Valider</md-button>
  </div>
</div>
</md-dialog>
