<h1>{{'TRANSACTION_TITLE' | translate}}</h1>

<md-button class="md-accent md-raised" ui-sref="sheet.transactionNew">
  {{'TRANSACTION_NEW_BUTTON' | translate}}
</md-button>

<div layout="row" class="table-transactions">
  <md-tabs md-dynamic-height md-border-bottom class="width-100-PC">
    <md-tab label="{{'TRANSACTION_LIST' | translate}}" >
      <md-content class="md-padding">
        <p ng-hide="transactions.length">{{'TRANSACTION_EMPTY_LIST' | translate}}</p>

        <ul class="collection" ng-show="transactions.length">
          <li class="collection-item" ng-repeat="transaction in transactions">
            <div>
              <div layout="row">
                <div flex="70">
                  <strong>{{transaction.trs_contributor.prt_fname}}</strong> {{'TRANSACTION_PAID' | translate}} {{transaction.trs_amount | number:2}} {{'TRANSACTION_CURRENCY' | translate}}
                </div>
                <div flex>
                  <span class="pull-right">{{transaction.trs_creation_date | date:'dd/MM/yyyy'}}</span>
                </div>
              </div>
              <blockquote>
                <strong>{{transaction.trs_description}}</strong> <span ng-show="transaction.trs_category.ctg_name">{{'TRANSACTION_IN' | translate}}</span> {{transaction.trs_category.ctg_name}}
                <footer>{{'TRANSACTION_FOR' | translate}} :
                  <span ng-repeat="beneficary in transaction.trs_beneficiaries">
                    {{beneficary.trs_participant.prt_fname}} ({{beneficary.trs_weight}} {{'TRANSACTION_WEIGHT' | translate}})<span ng-if="!$last">,&nbsp;</span>
                  </span>
                </footer>
                <span class="pull-right">
                  <a href="#"><md-icon class="fa fa-pencil-square-o" ng-click="editTransaction(transaction._id)"></md-icon></a>
                  <a href="#"><md-icon class="fa fa-trash" ng-click="deleteTransaction(transaction._id)"></md-icon></a>
                </span>
              </blockquote>
            </div>
          </li>
        </ul>
      </md-content>
    </md-tab>

    <md-tab label="{{'TRANSACTION_REPARTITION' | translate}}">
      <md-content class="md-padding">
        <p ng-hide="transactions.length">{{'TRANSACTION_EMPTY_LIST' | translate}}</p>
        <highchart ng-show="transactions.length" id="repartitionChart" config="repartitionChart"></highchart>
      </md-content>
    </md-tab>
  </md-tabs>
</div>
