<div layout="column">
  <div layout="row">
    <md-icon class="fa fa-folder"></md-icon>
    <md-input-container flex>
      <label>{{'CATEGORY_NAME' | translate}}</label>
      <input type="text" ng-model="category.ctg_name" required="true">
    </md-input-container>
  </div>
  <div layout="row">
    <md-icon class="fa fa-bars"></md-icon>
    <md-input-container flex>
      <label>{{'CATEGORY_DESCRIPTION' | translate}}</label>
      <input type="text" ng-model="category.ctg_description">
    </md-input-container>
  </div>
</div>
<div class="md-actions" layout="row">
  <md-button class="md-raised md-accent" type="submit">{{'CATEGORY_SAVE' | translate}}</md-button>
</div>
