<h1>Catégories</h1>
<md-button class="md-accent md-raised" ui-sref="sheet.categoryNew">
  Nouvelle catégorie
</md-button>
<div layout="row" class="table-participants">
  <p ng-hide="categories.data.length">Vous n'avez à ce jour ajouté aucune catégorie.</p>

  <table class="responsive-table striped" ng-show="categories.data.length">
    <thead>
    <tr>
      <th data-field="name">Nom</th>
      <th data-field="firstName">Description</th>
      <th data-field="actions>"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in categories.data">
      <td>{{category.ctg_name}}</td>
      <td>{{category.ctg_description}}</td>
      <td class="text-right" ng-hide="!category.ctg_sheet">
        <a href="#"><md-icon class="fa fa-pencil-square-o" ng-click="editCategory(category._id)"></md-icon></a>
        <a href="#"><md-icon class="fa fa-trash" ng-click="deleteCategory(category._id)"></md-icon></a>
      </td>
      <td class="text-right" ng-show="!category.ctg_sheet">
        <b>G</b>
      </td>
    </tr>
    </tbody>
  </table>
</div>
