<h1>Participants</h1>
<md-button class="md-accent md-raised" ui-sref="sheet.participantNew">
  Nouveau participant
</md-button>
<div layout="row" class="table-participants">
  <p ng-hide="participants.data.length">Vous n'avez à ce jour ajouté aucun participant.</p>

  <table class="responsive-table striped" ng-show="participants.data.length">
    <thead>
    <tr>
      <th data-field="name">Nom</th>
      <th data-field="firstName">Prénom</th>
      <th data-field="email">Email</th>
      <th data-field="share">Parts (par défaut)</th>
      <th data-field="actions>"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="participant in participants.data">
      <td>{{participant.prt_fname}}</td>
      <td>{{participant.prt_lname}}</td>
      <td>{{participant.prt_email}}</td>
      <td>{{participant.prt_share}}</td>
      <td class="text-right">
        <a href="#"><md-icon class="fa fa-pencil-square-o" ng-click="editParticipant(participant._id)"></md-icon></a>
        <a href="#"><md-icon class="fa fa-trash" ng-click="deleteParticipant(participant._id)"></md-icon></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
