<h1>{{'PARTICIPANT_NEW_TITLE' | translate}}</h1>
<md-button class="md-raised" ui-sref="sheet.participants">{{'PARTICIPANT_BACK' | translate}}</md-button>

<form name="participantForm" role="form" ng-submit="newParticipant()">
  <div layout="column">
    <div layout="row">
      <md-icon class="fa fa-user"></md-icon>
      <md-input-container flex>
        <label>{{'PARTICIPANT_LNAME' | translate}}</label>
        <input type="text" ng-model="participant.prt_lname" required="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-user"></md-icon>
      <md-input-container flex>
        <label>{{'PARTICIPANT_FNAME' | translate}}</label>
        <input type="text" ng-model="participant.prt_fname" required="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-envelope-o"></md-icon>
      <md-input-container flex>
        <label>{{'PARTICIPANT_MAIL_ADDRESS' | translate}}</label>
        <input type="email" ng-model="participant.prt_email" required="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-pie-chart"></md-icon>
      <md-input-container flex>
        <label>{{'PARTICIPANT_WEIGHT' | translate}}</label>
        <input type="number" ng-model="participant.prt_share" min="1" required="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-checkbox class="no-margin-left" ng-model="participant.prt_notified" aria-label="{{'PARTICIPANT_NOTIFIED' | translate}}">
        {{'PARTICIPANT_NOTIFIED' | translate}}
      </md-checkbox>
    </div>
  </div>
  <div class="md-actions" layout="row">
    <md-button class="md-raised md-accent" type="submit" ng-disabled="participantForm.$invalid">{{'PARTICIPANT_SAVE' | translate}}</md-button>
  </div>
</form>
