<md-dialog>
  <md-content>
    <md-subheader class="md-sticky-no-effect">{{'PARTICIPANT_DELETE_MODAL_TITLE' | translate}}</md-subheader>

    <ng-form name="deleteParticipantForm">
      <p class="contentDeleteModal">{{'PARTICIPANT_DELETE_MODAL_ASK' | translate}}</p>
    </ng-form>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()">
      {{'PARTICIPANT_BACK' | translate}}
    </md-button>
    <md-button ng-click="deleteParticipant()" class="md-primary">
      {{'PARTICIPANT_SAVE' | translate}}
    </md-button>
  </div>
</md-dialog>
