<h1 ng-controller="TransCtrl" class="full">Transactions </h1>
<md-button class="md-accent md-raised" ng-click="showAlert($event)">
  Nouvelle transaction
</md-button>
{{alert}}
<ul class="collection">
  <li class="collection-item" >
    <div>
      <div layout="row">
        <div flex="70">
          Jean à payé 300€
        </div>
        <div flex>
          <span class="pull-right">Le : 20/10/1025</span>
        </div>
      </div>
      <blockquote>
        <p>
          Test
        </p>
        <footer>Bénéficiares : <span class="tooltipped" data-position="top" data-delay="50" data-tooltip="Part(s) : 4"> dfdsfsdf</span></footer>
        <span class="pull-right"><a href="#"><md-icon class="fa fa-pencil-square-o" ></md-icon></a>
      <a href="#"><md-icon class="fa fa-trash"></md-icon></a></span>
      </blockquote>
    </div>
  </li>
  <li class="collection-item" >
    <div>
      <div layout="row">
        <div flex="70">
          Jean à payé 300€
        </div>
        <div flex>
          <span class="pull-right">Le : 20/10/1025</span>
        </div>
      </div>
      <blockquote>
        <p>
          Test
        </p>
        <footer>Bénéficiares : <span><md-tooltip>Part(s) : 4</md-tooltip> dfdsfsdf</span>
        </footer>
      </blockquote>
    </div>
  </li>
  <li class="collection-item" >
    <div>
      <div layout="row">
        <div flex="70">
          Jean à payé 300€
        </div>
        <div flex>
          <span class="pull-right">Le : 20/10/1025</span>
        </div>
      </div>
      <blockquote>
        <p>
          Test
        </p>
        <footer>Bénéficiares : <span class="tooltipped" data-position="top" data-delay="50" data-tooltip="Part(s) : 4"> dfdsfsdf</span></footer>
      </blockquote>
    </div>
  </li>
  <li class="collection-item" >
    <div>
      <div layout="row">
        <div flex="70">
          Jean à payé 300€
        </div>
        <div flex>
          <span class="pull-right">Le : 20/10/1025</span>
        </div>
      </div>
      <blockquote>
        <p>
          Test
        </p>
        <footer>Bénéficiares : <span class="tooltipped" data-position="top" data-delay="50" data-tooltip="Part(s) : 4"> dfdsfsdf</span></footer>
      </blockquote>
    </div>
  </li>
</ul>
